* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
    width: 100%;
    font-size: 70%;
}

body {
    font-size: 1.8rem;
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(77, 77, 158);
}

.contenedor_grid {
    display: grid;
    text-align: center;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.cuadro {

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);

    min-height: 100%;
    display: grid;
    grid-template-areas:
        "cuadro_filamento"
        "cuadro_primera"
        "cuadro_segunda"
        "cuadro_peso"
        "cuadro_electricidad"
        "cuadro_tercera"
        "cuadro_cuarta"
        "cuadro_impuesto_ganancia"
        "cuadro_quinta"
        "cuadro_sexta"
        "cuadro_septima"
        "cuadro_octava";
}

input {
    text-align: center;
    height: 25%;
    width: 30%;
    border: none;
    border-radius: .3rem;
}

button {
    height: 3rem;
    width: 8rem;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: brown;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.cuadro_filamento {
    grid-area: cuadro_filamento;
}

.cuadro_primera {
    grid-area: cuadro_primera;
}

.cuadro_segunda {
    grid-area: cuadro_segunda;
}

.cuadro_peso {
    grid-area: cuadro_peso;
}

.cuadro_electricidad {
    grid-area: cuadro_electricidad;
    border-top: 0.2rem solid black;
}

.cuadro_tercera {
    grid-area: cuadro_tercera;
}

.cuadro_cuarta {
    grid-area: cuadro_cuarta;
}

.cuadro_impuesto_ganancia {
    grid-area: cuadro_impuesto_ganancia;
    border-top: 0.2rem solid black;
}

.cuadro_quinta {
    grid-area: cuadro_quinta;
}

.cuadro_sexta {
    grid-area: cuadro_sexta;
}

.cuadro_septima {
    grid-area: cuadro_septima;
}

.cuadro_octava {
    border-top: 0.2rem solid black;
    grid-area: cuadro_octava;
}

#resultado {
        display: flex;
        justify-content: center;
        align-items: center;
}

footer {
    grid-area: footer;
}



@media (min-width: 600px) {

    html {
        font-size: 100%;
    }

    .contenedor_grid {
        grid-template:
            "header" 10% 
            "main" 80%
            "footer" 10%;
    }

    .cuadro {
        grid-template:
            "cuadro_filamento" 5%
            "cuadro_primera" 10%
            "cuadro_segunda" 10%
            "cuadro_peso" 10%
            "cuadro_electricidad" 5%
            "cuadro_tercera" 10%
            "cuadro_cuarta" 10%
            "cuadro_impuesto_ganancia" 5%
            "cuadro_quinta" 10%
            "cuadro_sexta" 10%
            "cuadro_septima" 10%
            "cuadro_octava" 5%;
        width: 80%;
        margin-left: 10%;
    }

    .cuadro h1 {
        font-size: 2.2rem;
        margin-bottom: 10%;
    }
    
    .cuadro_electricidad {
        padding-top: .5%;
    }

    .cuadro_impuesto_ganancia {
        padding-top: .5%;
    }

    .cuadro_octava {
        padding-top: .5%;
    }

    header {
        font-size: 1.4rem;
        margin-top: 3%;
    }

    #resultado {
        margin-top: .5%;
        height: 4rem;
        width: 50%;
        margin-left: 25%;
        background-color: white;
        border-radius: .8rem;
    }
}